@import '../fonts/montserrat/style.css';
@import '../fonts/playfair/style.css';

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: var(--fontPadrao);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary: #52151B;
  --secondary: #97263C;
  --light: #fff;
  --floor: 2.68rem;
  --natal: #DAA573;
  --fontPadrao: montserrat, sans-serif;
  --fontNatal: 'playfair-display', serif;
}

.pt-3 {
  padding-top: 3rem;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.fst-italic {
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


.floor {
  position: absolute;
  width: 100%;
  height: var(--floor);
  border-bottom: var(--floor) solid var(--primary);
  bottom: 0;
  z-index: 1;
}

.araucaria {
  position: fixed;
  width: 300%;
  height: 22rem;
  bottom: 0;
}

.arbustos {
  position: fixed;
  width: 300%;
  height: 9.4rem;
  bottom: 0;
  z-index: 9;
  display: flex;

  overflow: hidden;
}

.arbustos img {
  bottom: 0;
  object-fit: cover;
}

.cloud {
  position: absolute;
  width: 100%;
  height: 6rem;
  background: url('../img/estrelas.svg');
  background-repeat: repeat-x;
}


.cloud-animation {
  position: absolute;
  width: 100vw;
  height: 123px;
  top: 0;

  background: url('../img/estrelas-animation.svg');
  background-repeat: repeat-x;
  opacity: 1;
  z-index: 1;
  transition: all 5s ease-in;
  animation: blink-animation 5s infinite;
  -webkit-animation: blink-animation 5s steps(5, start) infinite;
}

@keyframes blink-animation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink-animation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fireworks-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -99;
}

/* botão */
.btn-natal {
  height: 42px;
  background: var(--secondary);
  color: var(--natal);
  border: none;
  font-family: var(--fontNatal);
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.8;
  padding: 0 .9rem;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: all .3s ease-in;
}

.btn-natal:before {
  content: '......';
  width: 32px;
  background: url('../img/btn-icon.svg') no-repeat;
  background-size: 22px;
  height: auto;
  margin-left: -26px;
  color: transparent;
  align-items: center;
  flex-direction: column;
}

.btn-natal:is(:hover) {
  filter: contrast(175%);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.texto {
  max-width: 40%;
}

.text-center {
  text-align: center;
}

.text-white {
  color: var(--light);
}

.titulo {
  width: 60%;
  font-family: var(--fontNatal);
  color: var(--light);
  font-size: 1.87rem;
  line-height: 1.1;
  margin-bottom: .8rem;
}

.subtitulo {
  /* width: 60%; */
  font-family: var(--fontNatal);
  color: var(--natal);
  font-size: 1.43rem;
  line-height: 1.1;
  margin-bottom: .8rem;
  font-weight: bold;
}

.content-wrapper {
  background: rgb(228, 3, 46);
  background: radial-gradient(circle, rgba(228, 3, 46, 1) 0%, rgba(102, 31, 36, 1) 82%, rgba(57, 32, 28, 1) 100%);
}

.logoSmall {
  width: 100%;
  height: 10.2rem;
  background: url('../img/logoSmall.svg') no-repeat;
  background-position: center center;
  top: 6.2rem;
  margin-bottom: 1rem;
}

.inner {
  display: flex;
  flex-wrap: nowrap;
}

.inner .scene {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;

}

.abertura {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.abertura .logo {
  position: absolute;
  width: 218px;
  margin-top: 2rem;
}

.abertura .botanico {
  position: absolute;
  width: 100%;
  height: 14rem;
  bottom: calc(var(--floor) - 3px);
}

.abertura .texto {
  margin-top: 20rem;
}


/* * {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

.badge {
  width: 100%;
  height: 100%;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: no-wrap;

  background: rgb(228, 3, 46);
  background: radial-gradient(circle, rgba(228, 3, 46, 1) 0%, rgba(102, 31, 36, 1) 82%, rgba(57, 32, 28, 1) 100%);
}

.panel {
  width: 100vw;
} */